{%- from "macros/starlight" import heading -%}
{%- extends "layouts/combined" -%}
{%- block body -%}
[box]
{{- heading("Starlight & Horizon - Current Government") -}}[size=150][b]The Triune Circle[/b][/size]
[hr]{%- for luminarch in parameters.people.luminarchs -%}
[b][color={{ parameters.colors.triune_circle }}]Luminarch[/color] [nation]{{ luminarch.nation }}[/nation] ({{ luminarch.discord }})[/b]
{% endfor %}[b][color={{ parameters.colors.triune_circle }}]Aetherion[/color] [nation]{{ parameters.people.aetherion.nation }}[/nation] ({{ parameters.people.aetherion.discord }})[/b]


[size=150][b]Aethereal Council[/b][/size]
[b][color={{ parameters.colors.skyweaver }}]Skyweaver[/color] [nation]{{ parameters.people.skyweaver.nation }}[/nation] ({{ parameters.people.skyweaver.discord }})[/b]
[hr]{%- for councilor in parameters.people.aethereal_council -%}
[b][color={{ parameters.colors.aethereal_council }}]Aethereal Councilor[/color] [nation]{{ councilor.nation }}[/nation] ({{ councilor.discord }})[/b]
{% endfor %}


[size=150][b]Halls of Solaris[/b][/size]
[hr][b][color={{ parameters.colors.flamewarden }}]Flamewarden[/color] [nation]{{ parameters.people.flamewarden.nation }}[/nation] ({{ parameters.people.flamewarden.discord }})[/b]
{% for vice_flamewarden in parameters.people.vice_flamewardens -%}
[b][color={{ parameters.colors.vice_flamewarden }}]Vice-Flamewarden[/color] [nation]{{ vice_flamewarden.nation }}[/nation] ({{ vice_flamewarden.discord }})[/b]
{% endfor %}


[size=150][b]Cabinet[/b][/size]
[hr]{%- for position, minister in parameters.people.ministers|items -%}
[b][color={{ parameters.colors.minister }}]Minister of {{ position }}[/color] [nation]{{ minister.nation }}[/nation] ({{ minister.discord }})[/b]
{% endfor %}
[/box]
{%- endblock -%}