{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Welcome to Starlight!") -}}
[align=center][spoiler=Welcome new nations!][/spoiler][/align]
{{- section("Getting Started") -}}
First things first:
[list][*] [b]Block Recruitment Telegrams[/b]: [i]Your inbox is likely being spammed by recruitment telegrams asking you to move regions right now. Now that you've joined Starlight, you'll want to stop the spam.[/i]

Head over to [b][url=https://www.nationstates.net/page=tgsettings][font=nationstates][/font] Telegram Settings[/url][/b] and select [b]Block All[/b] under "Recruitment". Click "Update Filter" and you're all set.
[*] [b]Join the World Assembly:[/b] [i]This lets you vote on international resolutions, strengthen your nation's power and influence, join our regional roleplay, and become a citizen.[/i]
[list=1]
[*] Make sure your nation has a [url=https://www.nationstates.net/page=settings]valid email set[/url], and apply to join the [b][url=https://www.nationstates.net/page=un][font=nationstates][/font] World Assembly[/url][/b].
[*] Go to your email and confirm your World Assembly application.
[*] Once you're a World Assembly member, endorse [b][url=https://nationstates.net/nation=vintrel#endorse]Vintrel[/url][/b] and [b][url=https://nationstates.net/nation=kaidan#endorse]Kaidan[/url][/b] by clicking the [b]Endorse Nation[/b] button at the bottom of their nation page.
[/list]
[/list]
{{- endsection() -}}
{{- section("Things to Do") -}}
We pride ourselves in having a wide variety of activities for our members to participate in. Click on the links for more information on how to join each of them!

[list][*] [b][url=#rp][font=nationstates][/font] Roleplay[/url][/b]: Join one of our three roleplays and write stories in a variety of settings with nations across the galaxy.
[*] [b][url=#so][font=nationstates][/font] Hang Out[/url][/b]: Meet our active, bubbly community and make new friends.
[*] [b][url=#cit][font=nationstates][/font] Citizenship[/url][/b]: Lets you vote in regional elections, join the government, and take part in our legislature.
[*] [b][url=#mil][font=nationstates][/font] Galactic Armada[/url][/b]: Join our regional military to protect innocent regions from invader forces and strike back against bigoted regions.
[*] As a citizen, you will be able to participate in the following ministries:
[list][*] [b][url=#rec][font=nationstates][/font] Recruitment[/url][/b]: Help our wonderful community find new members.
[*] [b][url=#cult][font=nationstates][/font] Culture[/url][/b]: Plan and host exciting events, bringing the community together.
[*] [b][url=#game][font=nationstates][/font] Gameside[/url][/b]: Welcome new members, bolster on-site activity and drive engagement.
[*] [b][url=#media][font=nationstates][/font] Media[/url][/b]: Help write our regional newspaper, the Voice of the Stars.
[*] [b][url=#wa][font=nationstates][/font] World Assembly[/url][/b]: Analyze resolutions, craft voting recommendations, and create proposals of your own.
[*] [b][url=#fa][font=nationstates][/font] Foreign Affairs[/url][/b]: Meet friends from regions abroad and keep them in touch with what's happening here.
[/list]
[/list]
{{- endsection() -}}
[anchor=rp][/anchor]
{{- section("Roleplay Opportunities") -}}
Test
{{- endsection() -}}
[anchor=so][/anchor]
{{- section("Hang Out") -}}
Test
{{- endsection() -}}
[anchor=cit][/anchor]
{{- section("Citizenship") -}}
[size=130][b]✧ Summary[/b][/size]
Being a citizen (also known as Starborn) of Starlight lets you shape our region by getting involved in the regional government, elections and legislature!

Citizenship is not required to be a member of the regions or participate in things like roleplay, but it is a good step to take to get involved further in the region. After obtaining citizenship, you'll be able to apply to any of our ministries, which give you many opportunities to contribute to regional government and bring your ideas.

[size=130][b]✧ Requirements[/b][/size]
[list][*]If your nation is not in the World Assembly, you should explain why it cannot be, outline your World Assembly status elsewhere, and provide sufficient justification for wanting to be a citizen, including what areas of the region you are planning to contribute to.[/list]

[size=130][b]✧ How to Join[/b][/size]
[b][url={{ parameters.urls.discord }}]Join our regional Discord server[/url][/b] and fill out the form in [b][url=hhttps://discord.com/channels/1299450621044330616/1494360172536004628/1494360172536004628]the Citizenship thread[/url][/b].
{{- endsection() -}}
[anchor=mil][/anchor]
{{- section("Military") -}}
[size=130][b]✧ Summary[/size]
The Galactic Armada, our defender military, works to protect innocent regions from invader forces, as well as invade fascist and undesirable regions ourselves.

Military gameplay is one of the most dynamic activities you can find on NationStates. No matter your level of experience, even if you've never done it before, our commanders will quickly get you up to speed on the mechanics needed so you, too, can become an elite defender!

[size=130][b]✧ Requirements[/b][/size]
[list][*]You must not be currently enlisted in any other regional military.[/list]

[size=130][b]✧ How to Join[/b][/size]
[b][url={{ parameters.urls.discord }}]Join our regional Discord server[/url][/b] and fill out the form in [b][url=https://discord.com/channels/1299450621044330616/1494359827927928942/1494359827927928942]the Galactic Armada thread[/url][/b].

[size=130][b]✧ More Information[/b][/size]
https://www.nationstates.net/page=dispatch/id=2580677
{{- endsection() -}}
[anchor=rec][/anchor]
{{- section("Recruitment") -}}
Test
{{- endsection() -}}
[anchor=cult][/anchor]
{{- section("Ministry of Culture") -}}
Test
{{- endsection() -}}
[anchor=game][/anchor]
{{- section("Ministry of Gameside") -}}
Test
{{- endsection() -}}
[anchor=media][/anchor]
{{- section("Ministry of Media") -}}
Test
{{- endsection() -}}
[anchor=wa][/anchor]
{{- section("Ministry of World Assembly Affairs") -}}
Test
{{- endsection() -}}
[anchor=fa][/anchor]
{{- section("Ministry of Foreign Affairs") -}}
Test
{{- endsection() -}}
[/box]
{%- endblock -%}