{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Welcome to Starlight!") -}}
{{- section("Getting Started") -}}
First things first:
[list][*] [b]Block Recruitment Telegrams[/b]: [i]Your inbox is likely being spammed by recruitment telegrams asking you to move regions right now. Now that you've joined Starlight, you'll want to stop the spam.[/i]

Head over to [b][url=https://www.nationstates.net/page=tgsettings][font=nationstates][/font] Telegram Settings[/url][/b] and select [b]Block All[/b] under "Recruitment". Click "Update Filter" and you're all set.
[*] [b]Join the World Assembly:[/b] [i]This lets you vote on international resolutions, strengthen your nation's power and influence, join our regional roleplay, and become a citizen.[/i]
[list=1]
[*] Make sure your nation has a [url=https://www.nationstates.net/page=settings]valid email set[/url], and apply to join the [b][url=https://www.nationstates.net/page=un][font=nationstates][/font] World Assembly[/url][/b].
[*] Go to your email and confirm your World Assembly application.
[*] Once you're a World Assembly member, endorse [b][url=https://nationstates.net/nation=vintrel#endorse]Vintrel[/url][/b] and [b][url=https://nationstates.net/nation=kaidan#endorse]Kaidan[/url][/b] by clicking the [b]Endorse Nation[/b] button at the bottom of their nation page.
[/list]
[/list]
{{- endsection() -}}
{{- section("Things to Do") -}}
We pride ourselves in having a wide variety of activities for our members to participate in. Click on the links for more information on how to join each of them!

[list][*] Join one of our [b][url=#rp]Roleplays[/url][/b] and write stories with a variety of nations across the galaxy.
[*] Get to [b][url=#so]meet the community[/url][/b] and hang out!
[*] [b][url=#cit]Apply for citizenship[/url][/b] to vote in regional elections, join the government, and take part in our legislature!
[*] Apply to [b][url=#mil]join the Galactic Armada[/url][/b], our regional military, to protect innocent regions from invader forces and strike back against bigoted regions!
[*] As a citizen, you will be able to:
[list][*] Join a [b][url=#gov]government ministry[/url][/b] and help shape the region.
[/list]
[/list]
{{- endsection() -}}
[anchor=rp][/anchor]
{{- section("Roleplay") -}}
Test
{{- endsection() -}}
[anchor=so][/anchor]
{{- section("Social") -}}
Test
{{- endsection() -}}
[anchor=cit][/anchor]
{{- section("Citizenship") -}}
Test
{{- endsection() -}}
[anchor=mil][/anchor]
{{- section("Military") -}}
Test
{{- endsection() -}}
[anchor=gov][/anchor]
{{- section("Government") -}}
Test
{{- endsection() -}}
[spoiler=Welcome new nations!][/spoiler]
[/box]
{%- endblock -%}