{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Welcome to Starlight!") -}}
[align=center][spoiler=Welcome new nations!][/spoiler][/align]
{{- section("Getting Started") -}}
First things first:
[list][*] [b]Block Recruitment Telegrams[/b]: [i]Your inbox is likely being spammed by recruitment telegrams asking you to move regions right now. Now that you've joined Starlight, you'll want to stop the spam.[/i]

Head over to [b][url=https://www.nationstates.net/page=tgsettings][font=nationstates][/font] Telegram Settings[/url][/b] and select [b]Block All[/b] under "Recruitment". Click "Update Filter" and you're all set.
[*] [b]Join the World Assembly:[/b] [i]This lets you vote on international resolutions, strengthen your nation's power and influence, join our regional roleplay, and become a citizen.[/i]
[list=1]
[*] Make sure your nation has a [url=https://www.nationstates.net/page=settings]valid email set[/url], and apply to join the [b][url=https://www.nationstates.net/page=un][font=nationstates][/font] World Assembly[/url][/b].
[*] Go to your email and confirm your World Assembly application.
[*] Once you're a World Assembly member, endorse [b][url=https://nationstates.net/nation=vintrel#endorse]Vintrel[/url][/b] and [b][url=https://nationstates.net/nation=kaidan#endorse]Kaidan[/url][/b] by clicking the [b]Endorse Nation[/b] button at the bottom of their nation page.
[/list]
[/list]
{{- endsection() -}}
{{- section("Things to Do") -}}
We pride ourselves in having a wide variety of activities for our members to participate in. Click on the links for more information on how to join each of them!

[list][*] [b][url=#rp]Roleplay[/url][/b]: Join one of our three roleplays and write stories in a variety of settings with nations across the galaxy.
[*] [b][url=#so]Hang Out[/url][/b]: Meet our active, bubbly community and make new friends.
[*] [b][url=#cit]Citizenship[/url][/b]: Lets you vote in regional elections, join the government, and take part in our legislature.
[*] [b][url=#mil]Galactic Armada[/url][/b]: Join our regional military, to protect innocent regions from invader forces and strike back against bigoted regions.
[*] As a citizen, you will be able to participate in the following ministries:
[list][*] [b][url=#rec]Recruitment[/url][/b]: Help our wonderful community find new members.
[*] [b][url=#cult]Culture[/url][/b]: Plan and host exciting events, bringing the community together.
[*] [b][url=#game]Gameside[/url][/b]: Welcome new members, bolster on-site activity and drive engagement.
[*] [b][url=#media]Media[/url][/b]: Help write our regional newspaper, the Voice of the Stars.
[*] [b][url=#wa]World Assembly[/url][/b]: Analyze resolutions, craft voting recommendations, and create proposals of your own.
[*] [b][url=#fa]Foreign Affairs[/url][/b]: Meet friends from regions abroad and keep them in touch with what's happening here.
[/list]
[/list]
{{- endsection() -}}
[anchor=rp][/anchor]
{{- section("Roleplay") -}}
Test
{{- endsection() -}}
[anchor=so][/anchor]
{{- section("Hang Out") -}}
Test
{{- endsection() -}}
[anchor=cit][/anchor]
{{- section("Citizenship") -}}
Test
{{- endsection() -}}
[anchor=mil][/anchor]
{{- section("Military") -}}
Test
{{- endsection() -}}
[anchor=rec][/anchor]
{{- section("Recruitment") -}}
Test
{{- endsection() -}}
[anchor=cult][/anchor]
{{- section("Culture") -}}
Test
{{- endsection() -}}
[anchor=game][/anchor]
{{- section("Gameside") -}}
Test
{{- endsection() -}}
[anchor=media][/anchor]
{{- section("Media") -}}
Test
{{- endsection() -}}
[anchor=wa][/anchor]
{{- section("World Assembly") -}}
Test
{{- endsection() -}}
[anchor=fa][/anchor]
{{- section("Foreign Affairs") -}}
Test
{{- endsection() -}}
[/box]
{%- endblock -%}