{% macro section(title) -%}
[hr][img]https://i.imgur.com/yywgdn7.png[/img][tab=8][/tab][color=#107eb1][size=150][b]{{ title }}[/b][/color][/size][hr][size=120]
{%- endmacro %}

{% macro endsection() -%}
[/size]
{%- endmacro %}

{% macro divider() -%}
[align=center][img]https://raw.githubusercontent.com/Triune-Circle/STL-HZN/881131ec6d9690413159aa6b1d29f1d532f10e8b/disp_m_divider.svg[/img][/align]
{%- endmacro %}