{% macro section(title) -%}
[hr][img]https://i.imgur.com/yywgdn7.png[/img][tab=8][/tab][color=#107eb1][size=150][b]{{ title }}[/b][/color][/size][hr][size=120]
{%- endmacro %}

{% macro endsection() -%}
[/size]
{%- endmacro %}